
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 20px;
    margin-bottom: 50px;
    background-color: #00796b; 
  }

  .navbar div {
    font-family: monospace;
    font-size: x-large;
    display: flex;
    align-items: center;
    color: white;
  }

  .navbar ul {
    font-family: monospace;
    font-size: x-large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .navbar li {
    margin-right: 15px; /* Adjust the spacing between links */
  }

  .navbar a {
    color: white;
    text-decoration: none; /* Optional: remove underline from links */
  }