<div class="contact-container">
    <h2>Contact Me</h2>
  
    <p>Connect with me on LinkedIn:</p>
    <a href="https://www.linkedin.com/in/jonathan-a-gonzalez" target="_blank">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
  
    <p>Email me:</p>
    <a href="mailto:jonathan@jonathanglez.com">
      <i class="far fa-envelope"></i> jonathan@jonathanglez.com
    </a>
  
    <hr>
  
    <h3>Send me an Email</h3>
    <form #contactForm="ngForm" >
      <div class="form-group">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" ngModel required>
      </div>
  
      <div class="form-group">
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" ngModel required>
      </div>

      <div class="form-group">
        <label for="email">Subject:</label>
        <input type="email" id="email" name="email" ngModel required>
      </div>
  
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" ngModel required></textarea>
      </div>
  
      <button type="submit" [disabled]="!contactForm.valid">
        <i class="far fa-paper-plane"></i> Send Email
      </button>
    </form>
  </div>
  