<div class="container">
    <div class="banner-text">
      <p> My name is <a href="https://www.linkedin.com/in/jonathan-a-gonzalez">
          Jonathan Gonzalez</a> <br>
        I'm an engineering physics graduate <br>
        with skills in data science <br>
        and software development. </p>
      <button class="banner-button">See more about me</button> 
    </div>

      <div class="typewriter-banner">
        <div class="typewriter-container">
          <!-- <img src="..//../assets/JG.png" class="banner-image"> -->
          <span class="typed-text">{{ typedText }}</span>
        </div>
      </div>

  </div>



  
  